<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | DataSessions, For Data Enthusiasts</title>
  </head>
  <body>
    <h1>About</h1>
    <p>This is a Community for all data enthusiasts in Kenya, find our lessons and learning materials to help you build your career in data.</p>
  </body>
</html>

