
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="custom.scss">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=PT+Sans:ital@1&family=Poppins:wght@600&family=Roboto+Slab:wght@200;400&family=Work+Sans:wght@100&display=swap" rel="stylesheet">
    <title> <%= yield(:title) %></title>
</head>

<body>
  <div class="jumbotron">
  <div class="big-hero">

    <div class="hero-content">
      <p class="big-intro">
        Fuel Your Future With<br>
        <span>Data Mastery</span>. Join Our <br> Community Now ! 
      </p>
      <p class="small-intro">
        Stay Ahead With Cutting-Edge Data Tools <br>
         Connect, Learn, and Grow With Us.
      </p> 
      <%= link_to "Sign Up", signup_path, class: "sign-btn" %> 
    </div>

    <div class="hero_image">
      <%#= link_to image_tag("hero-img.webp", alt:"Learning")%>
    </div>

  </div>
  </div>
    
</body>
</html>
